body{

    background-color: #910000;
    margin: 0px;
    text-align: center;
    height: 100%;
}

.navi {
    position: relative;
    text-align: center;

}


.iccon{
    height: 36px;
    width: 157px;
    position: absolute;
    top: 50px;
    left: 10%;
    transform: translate(0, -32%);
}
.iccon img {

    width: 150px;
}


.ancr a {

    text-decoration: none;
    color: white;
    margin: 5px;
}


.ancr a:hover {

    
    color: rgb(253, 5, 5);
    margin: 5px;
}

.box-1{
    color: yellow;
    width: 100%;
    text-align: center;
    font-family: "Sofia", sans-serif;
    background-color: green;

    padding: 2%;

}
.box-2{
    margin: 10px;

    width: 100%;
   height: 650px;
    
}
.footer{
    position: sticky;
    bottom: 0px;
    background-color: rgb(5, 10, 14);
    height: 112px;
    width: 100%;
}
.btnn-1{
    position: fixed;
    right: 25px;
    bottom: 25px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(255, 230, 6);
}

.btnn-1:hover{

    

    background-color: rgb(241, 12, 12);
}
.btnn-1 a {
    color: black;
    text-decoration: none;
}

.btnn-1 a:hover {
    color: rgb(233, 229, 229);
    text-decoration: none;
}
.copy-rightt { 
    position: absolute;
    left: 50px;
    top: 50px;
    text-align: center;
}
.copy-rightt a{
    background-color: yellow;
    border-radius: 5px;
    padding: 1px 5px;
    text-decoration: none;
    color: rgb(8, 8, 8);
    
    margin: 5px;
}

.copy-rightt-2 { 
    color: #ffe000;
    position: absolute;
    right: 39%;
    bottom: 5px;

}
.copy-rightt-2 h3{
    font-size: 15px;
    font-family: sans-serif;

}
.row 
{
   display: flex;
   
}
/* Create two equal columns that floats next to each other */
.column {
    width: 50%;
    color: black;
    background: yellow;
    border-radius: 52px;  
    /* Should be removed. Only for demonstration */
  }
  #column-1
  {
margin: 10px;
padding: 50px;

  }
  #column-2
  {
margin: 10px;
padding: 50px;

  }
  
  /* Clear floats after the columns */
  .row:after {
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {

    body{
        height: auto;
    }
    .iccon {
        height: 35px;
        width: 157px;
        position: absolute;
        top: 40px;
        left: 0%;
        transform: translate(0, -32%);
    }
    .iccon img {
    width: 150px;
}


    .column {
      width: 100%;
    color: black;
     
    }
    


    .row 
    {
       margin-right: 150px;
    display: flex;
    flex-direction: column-reverse;
       
    }
    
    
  .column img {
    height: 165px;
    border-radius: 50%;
    width: auto;
  }
  
.footer{
    position: fixed;
    bottom: 0px;
    background-color: rgb(5, 10, 14);
    height: 50px;
    width: 100%;
}
.copy-rightt {
   display: none;
}
.btnn-1 {
    display: none;
}
.copy-rightt-2 {
    
    text-align: center;
    color: #ffe000;
    position: relative;
    right: 0px;
    
}
  }
  .column p {
    text-align: center;
  }
  
  .column img {
    height: 165px;
    border-radius: 50%;
    /* margin: 21px 43px; */
    /* float: left; */
    /* align-items: end; */
    /* text-align: center; */
    width: auto;
  }